
#switchButton {
    cursor: pointer;
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.clickable {
    cursor: pointer;
    user-select: none;
}

a {
    color: #ffffff;
    display: flex;
    text-decoration: none;
    text-align: center;
}

header {
    color: #ffffff;
    background-color: #333;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    display: flex;
    align-items: center;
}

button {
    cursor: pointer;
    background-color: #333;
    color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

#divswitchbutton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    bottom: 0;
}

#btn {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

#pdfViewer {
    border: solid black 1px;
    height: 900px;
    width: 1200px;
}        

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.left-column {
    flex: 1;
    margin-left: 20px;
}

.right-column {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 20px;
}

#editbtn {
    justify-content: center;
}