#tableDiv {
    position: absolute;
    top: 10%;
    left: 1%;
    width: 45%;
    height: 95%;
}

#pdfViewer {
    width: 600px;
    height: 800px;
    border: solid black 1px;
}

#switchButton {
    cursor: pointer;
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.clickable {
    cursor: pointer;
    user-select: none;
}

a {
    color: #ffffff;
    display: flex;
    text-decoration: none;
    text-align: center;
}

header {
    color: #ffffff;
    background-color: #333;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    display: flex;
    align-items: center;
}

button {
    cursor: pointer;
    background-color: #333;
    color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

#divswitchbutton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    bottom: 0;
}

#tabletop {
    margin-top: 20px;
    width: 45%;
    height: 100%;
    text-align: center;
}

#pdf {
    margin-top: 20px;
    text-align: center;
}

#btn {
    margin-bottom: 20px;
}