
.drag-audio{
    
  background-color: lightgray;
  outline: 2px dashed black;
  outline-offset: -5px;
  height: 200px;
  width: 400px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}


.drag-audio span{
margin: 10px 0 15px 0;
}
.drag-audio button{
padding: 10px 25px;
font-weight: 500;
border: 2px solid black;
outline: none;
border-radius: 5px;
cursor: pointer;
}
.drag-audio-enter{
  outline-offset: -10px;
}
#unsupported-extention-popup{
  background-color: lightcoral;
}

#btn {
display: flex;
margin-bottom: 10px;
justify-content: left;
}

#pdfViewer {
  margin-top:5px;
  width: 100%;
  height: 500px;
  border: solid #73B0CD 2px;
  border-radius: 10px;
  box-shadow:  3px 3px 8px #73B0CD,
  -3px -3px 8px #73B0CD;
  }    

.container {
margin-top: 20px;
display: flex;
flex-direction: row;
}

.left-column {
flex: 1;
margin-left: 20px;
}

.right-column {
flex: 1;
display: flex;
flex-direction: column;
margin-right: 20px;
margin-left: 20px;
}

#editbtn {
display: flex;
justify-content: center;
}

#showBox {
display: none;
}

#reference {
  font-size: 8px;
}