
.drag-audio{
    
  background-color: #73B0CD;
  outline: 2px dashed #ffffff;
  outline-offset: -5px;
  height: 200px;
  width: 400px;
  border-radius: 5px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
}


.drag-audio span{
margin: 10px 0 15px 0;
}
.drag-audio button{
margin-top: 40px;
cursor: pointer;
color: #73B0CD;
padding: 10px;
font-size: 18px;
margin-bottom: 10px;
transition: background-color 0.3s;
border-radius: 10px;
background: #ffffff;
}

.drag-audio button:hover {
  background: #3D7C98;
  color: #ffffff;
}

h2 {
  color: #fafafa;
}

.drag-audio-enter{
  outline-offset: -10px;
}
#unsupported-extention-popup{
  background-color: lightcoral;
}

#btn {
display: flex;
margin-bottom: 10px;
justify-content: left;
}

#pdfViewer {
  margin-top:5px;
  width: 100%;
  height: 500px;
  border: solid #73B0CD 2px;
  border-radius: 10px;
  box-shadow:  3px 3px 8px #73B0CD,
  -3px -3px 8px #73B0CD;
  }    

.container {
display:flex;
max-width: 1500px;
flex-direction: column;
margin: auto;
}

.editbtn {
margin-top:30px;
display: flex;
justify-content: center;


}

#showBox {
display: none;
}

#reference {
  font-size: 11px;
  margin-top:5px;
  display: flex;
  justify-content: center;
}

#pdf-div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#table-div {
  display: flex;
  justify-content: center;
}