<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Correction page</title>
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/correction-page.css" rel="stylesheet">
    <script defer type="module" src="static/js/correction-page.js"></script>
</head>

<body>

    <header>
        <h1><a href="https://lexika.vercel.app/home">Lexika</a></h1>
    </header>

    <div class="container">


        <div class="left-column">
            <span id="tableDiv">

                <button hidden id="edit">Editer</button>
                <button hidden id="send">Mise a jour de la base de donnée</button>

                <table id="table">
                    <thead id="resultTitle"></thead>
                    <tbody id="resultSearch"></tbody>
                </table>

                <div id="divswitchbutton">
                    <span id="switchButton">
                        <button id="prev">Précédent</button>
                        <button id="next">Suivant</button>
                        <select id="selectPage"></select>
                    </span>
                </div>

            </span>
        </div>

        <div class="right-column">
            <span>

                <div id="btn">
                    <input id="showBox" type="checkbox">
                    <label class="clickable" id="labelBox">Afficher les contours</label>
                </div>

                <div>
                    <embed id="pdfViewer">
                </div>
                
            </span>
        </div>


    </div>
</body>

</html>
