<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Historique</title>
    <script defer src="static/js/script-historique.js"></script>
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/historique.css" rel="stylesheet">
</head>

<body>
    <header>
        <h1><a href="/home">Lexika</a></h1>
    </header>

    <div id="unsupported-extention-popup" hidden></div>

    <div class="left-column">

        <span id="editbtn">
            <button class="bouton" hidden id="edit">Editer</button>
            <button class="bouton" hidden id="send">Mise a jour de la base de donnée</button>
        </span>
        
        <table id="table">

            <thead>

                <tr>
                    <th>Date de création</th>
                    <th>Traduction</th>
                </tr>

            <tbody id="resultHistory"></tbody>

            </thead>

        </table>

    </div>

    <div class="right-column">

        <div id="btn">
            <input id="showBox" type="checkbox">
            <label class="clickable" id="labelBox">Afficher les contours</label>
        </div>

        <div>
            <embed id="pdfViewer">
        </div>

    </div>

    <div class="drag-audio">

        <h2>Glisser un fichier audio</h2>
        <span>OU</span>
        <button class="bouton">Chercher un fichier</button>

    </div>

</body>

</html>