<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Historique</title>
    <script defer src="static/js/script-historique.js"></script>
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/historique.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6d133791ae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <h1><a href="/home">Lexika</a></h1>
    </header>

    <div id="unsupported-extention-popup" hidden></div>

    <div class="container">


        <span class="editbtn">
            <button class="bouton" hidden id="edit">Editer</button>
            <button class="bouton" hidden id="send" disabled>Mise a jour de la base de donnée</button>
            <div id="btn">
                <input id="showBox" type="checkbox">
                <label class="clickable" id="labelBox">Afficher les contours</label>
            </div>
            <button class="bouton" id="audioadd">Ajouter audio</button>
            <input type="file" id="audioFile" hidden/>
        </span>
        
        <div id="table-div">
            <table id="table">

                <thead id="resulthead"></thead>
                <tbody id="resultHistory"></tbody>
                <tfoot>
                    <tr>
                        <th> </th>
                        <th> </th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </tfoot>

            </table>
        </div>

        <div class="drag-audio">

            <h2 id="fileStatus">Glisser un fichier audio</h2>
            <button id="audiosearch">Chercher un fichier</button>
    
        </div>

        <div id="pdf-div">
            <embed id="pdfViewer">
        </div>

        <div id="reference"></div>


    </div>



</body>

</html>