<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Historique</title>
    <script defer src="static/js/script-historique.js"></script>
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/historique.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6d133791ae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>
        <div class="headerspan">
            <div class="left-buttons">
                <button class="iconbtn" id="edit"><i class="fa-regular fa-pen-to-square"></i></button>
                <button class="iconbtn" id="send" disabled><i class="fa-regular fa-floppy-disk"></i></button>
                <button class="iconbtn" id="boxbtn"><i class="fa-regular fa-eye"></i></i></button>
                <button class="iconbtn" id="audioadd"><i class="fa-regular fa-file-audio"></i></button>

            </div>
            <div class="center-text"><h1><a href="/home">Lexika</a></h1></div>
        </div>
    </header>

    <div id="unsupported-extention-popup" hidden></div>

    <div class="container">

        <div id="table-div">
            <table id="table">

                <thead id="resulthead"></thead>
                <tbody id="resultHistory"></tbody>
                <tfoot>
                    <tr>
                        <th> </th>
                        <th> </th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </tfoot>

            </table>
        </div>

        <div class="drag-audio" style="display: none;">

            <h2 id="fileStatus">Glisser un fichier audio</h2>
            <button id="audiosearch">Chercher un fichier</button>
            <input type="file" id="audioFile" hidden/>
    
        </div>

        <div id="pdf-div">
            <embed id="pdfViewer">
        </div>

        <div id="reference"></div>


    </div>



</body>

</html>