<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Lexika</title>
    <script defer type="module" src="static/js/home.js"></script>
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <h1>Lexika</h1>
    </header>
    <div id="topdiv">
        <span><input type="text" id="search" placeholder="Chercher" value=""></span>
        <span><button id="regex-btn">Expression régulière</button></span>
    </div>
    <div id="searchDiv">
        <button id="searchButton">Recherche <i class="fa fa-search"></i></button>
        <div id="optionsDiv">
            <select id="engineSelect">
                <option value="tsquery">TsQuery</option>
                <option value="regex">Regex</option>
            </select>
            <span><label>Langue de base : </label><select id="baseSelect"></select></span>
            <span><label>Langue d'arrivée : </label><select id="resultSelect"></select></span>
            <div id="regex-commands" style="display: none;"></div>
        </div>
    </div>
    <div id="tableDiv">
        <button hidden id="edit">Editer</button>
        <button hidden id="send">Mise à jour de la base de données</button>
        <table id="table">
            <thead id="resultTitle"></thead>
            <tbody id="resultSearch"></tbody>
        </table>
        <div id="pagination">
            <button hidden class="clickable" id="prev">Précédent</button>
            <span id="pageDisplay"></span>
            <button hidden class="clickable" id="next">Suivant</button>
        </div>
    </div>
</body>

</html>
