<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Lexika</title>
    <script defer type="module" src="static/js/home.js"></script>
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/loading.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6d133791ae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>


<body>

    <header>
        <h1><a href="/home">Lexika</a></h1>
        <span id="span_regex"><button id="regex-btn"><i class="fas fa-info-circle"></i></button></span>
    </header>

    <div id="topdiv">
        <span id="moteur">

            <div class="radio-inputs" id="engineSelect">
                <label class="radio">
                  <input id="tsquery" type="radio" name="radio" value="tsquery">
                  <span class="name">Mots-clés</span>
                </label>
                <label class="radio">
                  <input id="regex" type="radio" name="radio" value="regex">
                  <span class="name">Expression régulière</span>
                </label>      
            </div>
            
        </span>
        <span id="barre"><input type="text" id="search" placeholder="Chercher" value="" autocomplete="off"></span>
        <span id="rbouton"><button class="bouton" id="searchButton">Recherche <i class="fa fa-search"></i></button></span>
    </div>

    <div id="searchDiv">
        <div id="optionsDiv">

            <span><select id="baseSelect"></select></span>
            <span><label id="arrow"><i class="fas fa-arrow-right"></i></label><select id="resultSelect"></select></span>

        </div>
        <div id="regex-commands" style="display: none;"></div>
    </div>

    <div id="regex-div">
        <table id="regex-table" >
            <thead>
              <tr>
                <th>Expression</th>
                <th>Description</th>
                <th>Exemple</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>.</td>
                <td>Correspond à n'importe quel caractère sauf un saut de ligne</td>
                <td>a.o → ao, abo, a2o</td>
              </tr>
              <tr>
                <td>*</td>
                <td>Répète le caractère précédent zéro ou plusieurs fois</td>
                <td>ab*c → ac, abc, abbc</td>
              </tr>
              <tr>
                <td>+</td>
                <td>Répète le caractère précédent une ou plusieurs fois</td>
                <td>ab+c → abc, abbc</td>
              </tr>
              <tr>
                <td>?</td>
                <td>Rend le caractère précédent facultatif (0 ou 1 fois)</td>
                <td>ab?c → ac, abc</td>
              </tr>
              <tr>
                <td>^</td>
                <td>Correspond au début de la chaîne</td>
                <td>^abc → abc, abcdef</td>
              </tr>
              <tr>
                <td>$</td>
                <td>Correspond à la fin de la chaîne</td>
                <td>abc$ → abc, defabc</td>
              </tr>
              <tr>
                <td>{n}</td>
                <td>Répète le caractère précédent exactement n fois</td>
                <td>a{3} → aaa</td>
              </tr>
              <tr>
                <td>{n,}</td>
                <td>Répète le caractère précédent au moins n fois</td>
                <td>a{2,} → aa, aaa</td>
              </tr>
              <tr>
                <td>{n,m}</td>
                <td>Répète le caractère précédent entre n et m fois</td>
                <td>a{2,3} → aa, aaa</td>
              </tr>
              <tr>
                <td>[abc]</td>
                <td>Correspond à un des caractères entre les crochets</td>
                <td>a[bc] → ab, ac</td>
              </tr>
              <tr>
                <td>[^abc]</td>
                <td>Correspond à tout caractère sauf ceux entre les crochets</td>
                <td>a[^bc] → ad, ae</td>
              </tr>
              <tr>
                <td>(a|b)</td>
                <td>Correspond à l'un des éléments séparés par le symbole</td>
                <td>(ab|cd) → ab, cd</td>
              </tr>
              <tr>
                <td>\d</td>
                <td>Correspond à un chiffre (équivalent à [0-9])</td>
                <td>a\d → a0, a1, a9</td>
              </tr>
              <tr>
                <td>\D</td>
                <td>Correspond à un caractère qui n'est pas un chiffre</td>
                <td>a\D → aa, a%, a-</td>
              </tr>
              <tr>
                <td>\w</td>
                <td>Correspond à un caractère alphanumérique ou un tiret bas</td>
                <td>a\w → aa, a1, a_</td>
              </tr>
              <tr>
                <td>\W</td>
                <td>Correspond à un caractère qui n'est pas alphanumérique</td>
                <td>a\W → a!, a%, a@</td>
              </tr>
              <tr>
                <td>\s</td>
                <td>Correspond à un espace, un tab ou un saut de ligne</td>
                <td>a\s → a , a\t, a\n</td>
              </tr>
              <tr>
                <td>\S</td>
                <td>Correspond à un caractère qui n'est pas un espace</td>
                <td>a\S → aa, a1, a!</td>
              </tr>
            </tbody>
            <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
            </tfoot>
          </table>
    </div>

    <div id="tableDiv">

        <span class="editbtn">
            <button class="bouton" hidden id="edit">Editer</button>
            <button class="bouton" hidden id="send">Mise à jour de la base de données</button>
        </span>

        <table id="table">
            <thead id="resultTitle"></thead>
            <tbody id="resultSearch"></tbody>
            <tfoot id="resultBottom"></tfoot>
        </table>

        <div id="pagination">
            <button class="bouton" hidden class="clickable" id="prev">Précédent</button>
            <span id="pageDisplay"></span>
            <button class="bouton" hidden class="clickable" id="next">Suivant</button>
        </div>

    </div>
    
    <div class="load">
        <div class="typewriter" hidden>
            <div class="slide"><i></i></div>
            <div class="paper"></div>
            <div class="keyboard"></div>
        </div>
    </div>

</body>

</html>